<div class="header-bar">
  <a href="index.html" class="header-title" style="text-decoration: none; color: #fff;">
    PokeStake
  </a>
  <div class="header-actions">
    <button id="favorites-btn" title="Favorites">Favorites</button>
    <button id="articles-btn" title="Articles">Articles</button>
    <button id="statistics-btn" title="Statistics">Statistics</button>
    <button id="logout-btn" class="logout-btn" title="Log out">
      <span class="material-icons">logout</span>
    </button>
  </div>
</div>